body {
  background: linear-gradient(180deg, #0ea5e9 0%, #115e59 100%);
  color: #ffffff;
  font-family: "Tajawal", sans-serif;
}

.floating-bar {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.button-card {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  width: 220px; /* Wider buttons */
  height: 150px; /* Taller buttons */
}

.worker-container {
  min-width: 280px; /* Fix width */
  padding: 12px 20px; /* Add space */
}

#dropdownMenu {
  min-width: 150px;
  z-index: 10;
}

#userProfile {
  position: absolute; /* يضمن بقاء العنصر في موضع محدد */
  top: 1.5rem; /* المسافة من الأعلى */
  right: 1.5rem; /* المسافة من اليمين */
  z-index: 20; /* ضمان بقاء العنصر فوق العناصر الأخرى */
}

#dropdownMenu {
  position: absolute; /* يجعل القائمة المنبثقة مستقلة عن العناصر الأخرى */
  top: 100%; /* يظهر القائمة أسفل المربع */
  right: 0; /* يحاذي القائمة مع الحافة اليمنى */
  min-width: 150px;
  z-index: 10;
}
