body {
    background: linear-gradient(180deg, #0ea5e9 0%, #115e59 100%);
    color: #ffffff;
    font-family: "Tajawal", sans-serif;
  }
  
  .floating-bar {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  }
  
  input {
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .custom-button {
    width: 16rem;
    padding: 1rem;
    border-radius: 0.5rem;
    text-align: center;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  }
  
  .custom-button:hover {
    transform: translateY(-4px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  }
  
  a:hover,
  a:focus {
    outline: none;
  }
  