/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg, #0ea5e9 0%, #115e59 100%);
    direction: rtl;
    color: white;
}

.container {
    text-align: center;
    width: 90%;
    max-width: 900px;
}



/* Table */
.table-container {
    background-color: #00334e;
    border-radius: 8px;
    padding: 20px;
    margin: 20px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 12px;
    text-align: center;
    border: 1px solid #004466;
}

th {
    background-color: #00253b;
}

button {
    padding: 8px 12px;
    border: none;
    background-color: #27ae60;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #229954;
}

/* Add Button */
.add-button {
    margin: 20px 0;
}

/* Modal */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: white;
    color: #333;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    position: relative;
    text-align: center;
}

.modal-content input {
    display: block;
    margin: 10px auto;
    padding: 8px;
    width: 80%;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.modal-content button {
    background-color: #27ae60;
}

.close {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 24px;
    font-weight: bold;
    color: #333;
    cursor: pointer;
}

.close:hover {
    color: #e74c3c;
}

/* Back Button */
.back-button button {
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    background: #00334e;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.back-button button:hover {
    background-color: #00253b;
}


/* Search Input Style */
.search-input {
    text-align: right;
    padding: 0.75rem 3rem 0.75rem 1rem; /* Right padding for text and left for icon */
    border-radius: 10rem;
    border: 1px solid #ccc;
    font-size: 1rem;
    outline: none;
    transition: box-shadow 0.3s ease-in-out;
}

.search-input:focus {
    box-shadow: 0 0 8px rgba(0, 123, 255, 0.5);
}

/* Search Icon Adjustment */
.search-bar {
    position: relative;
}

.search-bar .search-icon {
    position: absolute;
    left: 1.5rem;
    top: 50%;
    transform: translateY(-50%);
    color: #aaa;
    font-size: 1.25rem;
}
